* { margin: 0; padding: 0; font-family: 'Roboto';}
body {
    overflow-x: hidden;
}

.teams-container {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* --------------------- */

.teams-header {
    width: 100vw;
    height: 8vh;

    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.teams-header-links {
    margin: 0 20px;

    font-size: 1.2em;
    font-weight: 400;

    color: #000;
}

.teams-header-links:hover {
    color: #7c7c7c;
}

.teams-header-links-active {
    color: #000;
    font-weight: 700;
} 

.teams-header-links-active:hover {
    color: #000;
}

.teamsCardsContainer{
    width: 50%;
}